<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<h2>New person</h2>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <input type="text" th:field="*{name}" id="name">
    <label for="name">Name:</label>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <input type="text" th:field="*{age}" id="age">
    <label for="age">Age:</label>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>
    <input type="text" th:field="*{email}" id="email">
    <label for="email">E-mail:</label>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>
    <input type="submit" value="Create"/>
</form>

<br/>
<hr/>
<a href="/people">Back</a>

</body>
</html>